.edit-profile
  .container
    .row
      .col-sm-12
        .profile-area
          .col-md-12
            .panel.panel-default
              .panel-heading
                %br/
                %h4 Users List
              .panel-body
                .box-body.table-responsive.no-padding
                  %table.table.table-hover
                    %tr
                      %th{:width => "30%"} Email
                      %th{:width => "20%"} Name
                      %th{:width => "20%"} Phone Number 
                      %th{:width => "50%"} Profile Picture
                      %th{:width => "50%"} 
                    - @users.each_with_index do |user,index|
                      %tr{:id => "content_#{user.id}"}
                        %td= user.email
                        %td= user.name
                        %td= user.mobile_number 
                        %td
                          - if user.image.exists?
                            %button #{image_tag user.image.url(:thumb)}
                            .test{:style => "display: none"}
                              = form_for(user, :url => upload_image_path(user.id), :html => { :method => "patch", :multipart => true, :class => "form-horizontal"}) do |f|
                                = f.hidden_field :id ,:value => user.id
                                = f.file_field :image, :placeholder => "Upload Profile Pic", :class=> "upload"
                                = f.submit("Upload Picture", :class=>'btn btn-primary',:style => "margin-left:200px;")
                              = link_to  remove_image_path(user.id),method: :delete, data: {confirm: 'Are you sure you want to delete?' } do
                                %button.btn.btn-danger{:type => "button"} Delete
                                
                              :javascript
                                $(function(){
                                  $("#edit_user_#{user.id}").validate({
                                    rules:{
                                      'user[image]':
                                      {
                                        required: true
                                      },
                                    },
                                    messages:{
                                      'user[image]':
                                      {
                                        required:"Please choose the picture & upload"
                                      }
                                    }
                                  });
                                });


                            
                            %td
                          - else
                            = form_for(user, :url => upload_image_path(user.id), :html => { :method => "patch", :multipart => true, :class => "form-horizontal"}) do |f|
                              = f.hidden_field :id ,:value => user.id
                              = f.file_field :image, :placeholder => "Upload Profile Pic", :class=> "upload"
                              %td
                                = f.submit("Upload Picture", :class=>'btn btn-primary',:style => "margin-left:-60px;")
                        
                              :javascript
                                $(function(){
                                  $("#edit_user_#{user.id}").validate({
                                    rules:{
                                      'user[image]':
                                      {
                                        required: true
                                      },
                                    },
                                    messages:{
                                      'user[image]':
                                      {
                                        required:"Please choose the picture & upload"
                                      }
                                    }
                                  });
                                });
                        %td

:javascript
  var flip = 0;
  $( "button" ).click(function() {
    $(".test" ).toggle( flip++ % 2 === 0 );
  });

